---
import Layout from '../layouts/Layout.astro';
import Container from '../components/Container.astro';
import Gradient from '../components/Gradient.astro';
import LogoCloud from '../components/LogoCloud.astro';
import FeatureSection from '../components/FeatureSection.astro';
import BentoSection from '../components/BentoSection.astro';
import Button from '../components/Button.astro';
import DarkBentoSection from '../components/DarkBentoSection.astro';
---

<Layout title="Foos">
  <div class="overflow-hidden">
    <div class="relative">
      <Gradient
        class="absolute inset-2 bottom-0 rounded-4xl ring-1 ring-black/5 ring-inset"
      />
      <Container class="relative">
        <!--
      <Navbar
        banner={(
          <Link
            href="/blog/radiant-raises-100m-series-a-from-tailwind-ventures"
            class="flex items-center gap-1 rounded-full bg-fuchsia-950/35 px-3 py-0.5 text-sm/6 font-medium text-white data-hover:bg-fuchsia-950/30"
          >
            Radiant raises $100M Series A from Tailwind Ventures
            <ChevronRightIcon class="size-4" />
          </Link>
        )}
      />
      -->
        <div class="pt-16 pb-24 sm:pt-24 sm:pb-32 md:pt-32 md:pb-48">
          <h1
            class="font-display text-6xl/[0.9] font-medium tracking-tight text-balance text-gray-950 sm:text-8xl/[0.8] md:text-9xl/[0.8]"
          >
            See your future.
          </h1>
          <p
            class="mt-8 max-w-lg text-xl/7 font-medium text-gray-950/75 sm:text-2xl/8"
          >
            Foos helps you visualize and prepare for your retirement, so you can
            live the life you want.
          </p>
          <div class="mt-12 flex flex-col gap-x-6 gap-y-4 sm:flex-row">
            <Button href="https://app.foos.ca">Get started</Button>
            <Button variant="secondary" href="/pricing"> See pricing </Button>
          </div>
        </div>
      </Container>
    </div>
  </div>
  <main>
    <Container class="mt-10">
      <LogoCloud />
    </Container>

    <div class="bg-linear-to-b from-white from-50% to-gray-100 py-32">
      <FeatureSection />
      <BentoSection />
    </div>
    <DarkBentoSection />
  </main>
  <!--
      <Testimonials />
      <Footer />
    -->
</Layout>
