---
import Button from './Button.astro';
import Subheading from './Subheading.astro';

---
<div class="relative pt-20 pb-16 text-center sm:py-24">
  <hgroup>
    <Subheading>Get started</Subheading>
    <p class="mt-6 text-3xl font-medium tracking-tight text-gray-950 sm:text-5xl">
      Ready to dive in?
      <br />
      Start your free trial today.
    </p>
  </hgroup>
  <p class="mx-auto mt-6 max-w-xs text-sm/6 text-gray-500">
    Get the cheat codes for selling and unlock your team&apos;s revenue
    potential.
  </p>
  <div class="mt-6">
    <Button class="w-full sm:w-auto" href="#">
      Get started
    </Button>
  </div>
</div>