---
import CallToAction from './CallToAction.astro';
import Container from './Container.astro';
import Copyright from './Copyright.astro';
import Gradient from './Gradient.astro';
import Logo from './Logo.astro';
import PlusGrid from './PlusGrid.astro';
import PlusGridItem from './PlusGridItem.astro';
import PlusGridRow from './PlusGridRow.astro';
import Sitemap from './Sitemap.astro';
import SocialLinks from './SocialLinks.astro';

---
<footer>
  <Gradient class="relative">
    <div class="absolute inset-2 rounded-4xl bg-white/80" />
    <Container>
      <CallToAction />
      <PlusGrid class="pb-16">
        <PlusGridRow>
          <div class="grid grid-cols-2 gap-y-10 pb-6 lg:grid-cols-6 lg:gap-8">
            <div class="col-span-2 flex">
              <PlusGridItem className="pt-6 lg:pb-6">
                <Logo class="h-9" />
              </PlusGridItem>
            </div>
            <div class="col-span-2 grid grid-cols-2 gap-x-8 gap-y-12 lg:col-span-4 lg:grid-cols-subgrid lg:pt-6">
              <Sitemap />
            </div>
          </div>
        </PlusGridRow>
        <PlusGridRow class="flex justify-between">
          <div>
            <PlusGridItem class="py-3">
              <Copyright />
            </PlusGridItem>
          </div>
          <div class="flex">
            <PlusGridItem class="flex items-center gap-8 py-3">
              <SocialLinks />
            </PlusGridItem>
          </div>
        </PlusGridRow>
      </PlusGrid>
    </Container>
  </Gradient>
</footer>