---
import SitemapHeading from './SitemapHeading.astro';
import SitemapLink from './SitemapLink.astro';
import SitemapLinks from './SitemapLinks.astro';
---

<>
  <div>
    <SitemapHeading>Product</SitemapHeading>
    <SitemapLinks>
      <SitemapLink href="/pricing">Pricing</SitemapLink>
      <SitemapLink href="#">Analysis</SitemapLink>
      <SitemapLink href="#">API</SitemapLink>
    </SitemapLinks>
  </div>
  <div>
    <SitemapHeading>Company</SitemapHeading>
    <SitemapLinks>
      <SitemapLink href="#">Careers</SitemapLink>
      <SitemapLink href="/blog">Blog</SitemapLink>
      <SitemapLink href="/company">Company</SitemapLink>
    </SitemapLinks>
  </div>
  <div>
    <SitemapHeading>Support</SitemapHeading>
    <SitemapLinks>
      <SitemapLink href="#">Help center</SitemapLink>
      <SitemapLink href="#">Community</SitemapLink>
    </SitemapLinks>
  </div>
  <div>
    <SitemapHeading>Company</SitemapHeading>
    <SitemapLinks>
      <SitemapLink href="#">Terms of service</SitemapLink>
      <SitemapLink href="#">Privacy policy</SitemapLink>
    </SitemapLinks>
  </div>
</>
