---
import SocialIconFacebook from './SocialIconFacebook.astro';
import SocialIconLinkedIn from './SocialIconLinkedIn.astro';
import SocialIconX from './SocialIconX.astro';


---

<>
  <a
    href="https://facebook.com"
    target="_blank"
    aria-label="Visit us on Facebook"
    class="text-gray-950 data-hover:text-gray-950/75"
  >
    <SocialIconFacebook className="size-4" />
  </a>
  <a
    href="https://x.com"
    target="_blank"
    aria-label="Visit us on X"
    class="text-gray-950 data-hover:text-gray-950/75"
  >
    <SocialIconX className="size-4" />
  </a>
  <a
    href="https://linkedin.com"
    target="_blank"
    aria-label="Visit us on LinkedIn"
    class="text-gray-950 data-hover:text-gray-950/75"
  >
    <SocialIconLinkedIn className="size-4" />
  </a>
</>
